

{% extends 'core/main.html' %}
{% block contacto %}
{% load static %}
<div class="inner_page contact_page">
    <div class="full_container">
       <div class="inner_container">
          <!-- Sidebar  -->
          <nav id="sidebar">
             <div class="sidebar_blog_1">
                <div class="sidebar-header">
                   <div class="logo_section">
                      <a href="{% url 'index' %}"><img class="logo_icon img-responsive" src="{% static 'core/images/logo/logo_icon.png' %}" alt="#" /></a>
                   </div>
                </div>
                   
                   <li><a href="tables.html"><i class="fa fa-table purple_color2"></i> <span>Tables</span></a></li>
                   <li>
                      <a href="#apps" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-object-group blue2_color"></i> <span>Apps</span></a>
                      <ul class="collapse list-unstyled" id="apps">
                         <li><a href="email.html">> <span>Email</span></a></li>
                         <li><a href="calendar.html">> <span>Calendar</span></a></li>
                         <li><a href="media_gallery.html">> <span>Media Gallery</span></a></li>
                      </ul>
                   </li>
                   <li><a href="price.html"><i class="fa fa-briefcase blue1_color"></i> <span>Pricing Tables</span></a></li>
                   <li>
                      <a href="{% url 'contacto' %}"">
                      <i class="fa fa-paper-plane red_color"></i> <span>Contact</span></a>
                   </li>
                   <li class="active">
                      <a href="#additional_page" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-clone yellow_color"></i> <span>Additional Pages</span></a>
                      <ul class="collapse list-unstyled" id="additional_page">
                         <li>
                            <a href="{% url 'perfil' %}">> <span>Profile</span></a>
                         </li>
                         <li>
                            <a href="{% url 'main' %}">> <span>Projects</span></a>
                         </li>
                         <li>
                            <a href="{% url 'index' %}">> <span>Login</span></a>
                         </li>
                         <li>
                            <a href="404_error.html">> <span>404 Error</span></a>
                         </li>
                      </ul>
                   </li>
                   <li><a href="map.html"><i class="fa fa-map purple_color2"></i> <span>Map</span></a></li>
                   <li><a href="charts.html"><i class="fa fa-bar-chart-o green_color"></i> <span>Charts</span></a></li>
                   <li><a href="settings.html"><i class="fa fa-cog yellow_color"></i> <span>Settings</span></a></li>
                </ul>
             </div>
          </nav>
          <!-- end sidebar -->
          <!-- right content -->
          <div id="content">
             <!-- topbar -->
             <div class="topbar">
                <nav class="navbar navbar-expand-lg navbar-light">
                   <div class="full">
                      <button type="button" id="sidebarCollapse" class="sidebar_toggle"><i class="fa fa-bars"></i></button>
                      <div class="logo_section">
                         <a href="index.html"><img class="img-responsive" src="{% static 'core/images/logo/logo.png' %}" alt="#" /></a>
                      </div>
                      <div class="right_topbar">
                         <div class="icon_info">
                            <ul>
                               <li><a href="#"><i class="fa fa-bell-o"></i><span class="badge">2</span></a></li>
                               <li><a href="#"><i class="fa fa-question-circle"></i></a></li>
                               <li><a href="#"><i class="fa fa-envelope-o"></i><span class="badge">3</span></a></li>
                            </ul>
                            <ul class="user_profile_dd">
                               <li>
                                  <a class="dropdown-toggle" data-toggle="dropdown"><img class="img-responsive rounded-circle" src="{% static 'core/images/layout_img/user_img.jpg" alt="#" /><span class="name_user">John David</span></a>
                                  <div class="dropdown-menu">
                                     <a class="dropdown-item" href="profile.html">My Profile</a>
                                     <a class="dropdown-item" href="settings.html">Settings</a>
                                     <a class="dropdown-item" href="help.html">Help</a>
                                     <a class="dropdown-item" href="#"><span>Log Out</span> <i class="fa fa-sign-out"></i></a>
                                  </div>
                               </li>
                            </ul>
                         </div>
                      </div>
                   </div>
                </nav>
             </div>
             <!-- end topbar -->
             <!-- dashboard inner -->
             <div class="midde_cont">
                <div class="container-fluid">
                   <div class="row column_title">
                      <div class="col-md-12">
                         <div class="page_title">
                            <h2>Contacts</h2>
                         </div>
                      </div>
                   </div>
                   <!-- row -->
                   <div class="row column1">
                      <div class="col-md-12">
                         <div class="white_shd full margin_bottom_30">
                            <div class="full graph_head">
                               <div class="heading1 margin_0">
                                  <h2>Contacts</h2>
                               </div>
                            </div>
                            <div class="full price_table padding_infor_info">
                               <div class="row">
                                  <!-- column contact --> 
                                  <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 profile_details margin_bottom_30">
                                     <div class="contact_blog">
                                        <h4 class="brief">Digital Strategist</h4>
                                        <div class="contact_inner">
                                           <div class="left">
                                              <h3>John Smith</h3>
                                              <p><strong>About: </strong>Frontend Developer</p>
                                              <ul class="list-unstyled">
                                                 <li><i class="fa fa-envelope-o"></i> : test@gmail.com</li>
                                                 <li><i class="fa fa-phone"></i> : 987 654 3210</li>
                                              </ul>
                                           </div>
                                           <div class="right">
                                              <div class="profile_contacts">
                                                 <img class="img-responsive" src="{% static 'core/images/layout_img/msg2.png' %}" alt="#" />
                                              </div>
                                           </div>
                                           <div class="bottom_list">
                                              <div class="left_rating">
                                                 <p class="ratings">
                                                    <a href="#"><span class="fa fa-star"></span></a>
                                                    <a href="#"><span class="fa fa-star"></span></a>
                                                    <a href="#"><span class="fa fa-star"></span></a>
                                                    <a href="#"><span class="fa fa-star"></span></a>
                                                    <a href="#"><span class="fa fa-star-o"></span></a>
                                                 </p>
                                              </div>
                                              <div class="right_button">
                                                 <button type="button" class="btn btn-success btn-xs"> <i class="fa fa-user">
                                                 </i> <i class="fa fa-comments-o"></i> 
                                                 </button>
                                                 <button type="button" class="btn btn-primary btn-xs">
                                                 <i class="fa fa-user"> </i> View Profile
                                                 </button>
                                              </div>
                                           </div>
                                        </div>
                                     </div>
                                  </div>
                                  <!-- end column contact blog -->
                                  <!-- column contact --> 
                                  <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 profile_details margin_bottom_30">
                                     <div class="contact_blog">
                                        <h4 class="brief">Digital Strategist</h4>
                                        <div class="contact_inner">
                                           <div class="left">
                                              <h3>John Smith</h3>
                                              <p><strong>About: </strong>Frontend Developer</p>
                                              <ul class="list-unstyled">
                                                 <li><i class="fa fa-envelope-o"></i> : test@gmail.com</li>
                                                 <li><i class="fa fa-phone"></i> : 987 654 3210</li>
                                              </ul>
                                           </div>
                                           <div class="right">
                                              <div class="profile_contacts">
                                                 <img class="img-responsive" src="{% static 'core/images/layout_img/msg2.png' %}" alt="#" />
                                              </div>
                                           </div>
                                           <div class="bottom_list">
                                              <div class="left_rating">
                                                 <p class="ratings">
                                                    <a href="#"><span class="fa fa-star"></span></a>
                                                    <a href="#"><span class="fa fa-star"></span></a>
                                                    <a href="#"><span class="fa fa-star"></span></a>
                                                    <a href="#"><span class="fa fa-star"></span></a>
                                                    <a href="#"><span class="fa fa-star-o"></span></a>
                                                 </p>
                                              </div>
                                              <div class="right_button">
                                                 <button type="button" class="btn btn-success btn-xs"> <i class="fa fa-user">
                                                 </i> <i class="fa fa-comments-o"></i> 
                                                 </button>
                                                 <button type="button" class="btn btn-primary btn-xs">
                                                 <i class="fa fa-user"> </i> View Profile
                                                 </button>
                                              </div>
                                           </div>
                                        </div>
                                     </div>
                                  </div>
                                  <!-- end column contact blog -->
                                  <!-- column contact --> 
                                  <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 profile_details margin_bottom_30">
                                     <div class="contact_blog">
                                        <h4 class="brief">Digital Strategist</h4>
                                        <div class="contact_inner">
                                           <div class="left">
                                              <h3>John Smith</h3>
                                              <p><strong>About: </strong>Frontend Developer</p>
                                              <ul class="list-unstyled">
                                                 <li><i class="fa fa-envelope-o"></i> : test@gmail.com</li>
                                                 <li><i class="fa fa-phone"></i> : 987 654 3210</li>
                                              </ul>
                                           </div>
                                           <div class="right">
                                              <div class="profile_contacts">
                                                 <img class="img-responsive" src="{% static 'core/images/layout_img/msg2.png' %}" alt="#" />
                                              </div>
                                           </div>
                                           <div class="bottom_list">
                                              <div class="left_rating">
                                                 <p class="ratings">
                                                    <a href="#"><span class="fa fa-star"></span></a>
                                                    <a href="#"><span class="fa fa-star"></span></a>
                                                    <a href="#"><span class="fa fa-star"></span></a>
                                                    <a href="#"><span class="fa fa-star"></span></a>
                                                    <a href="#"><span class="fa fa-star-o"></span></a>
                                                 </p>
                                              </div>
                                              <div class="right_button">
                                                 <button type="button" class="btn btn-success btn-xs"> <i class="fa fa-user">
                                                 </i> <i class="fa fa-comments-o"></i> 
                                                 </button>
                                                 <button type="button" class="btn btn-primary btn-xs">
                                                 <i class="fa fa-user"> </i> View Profile
                                                 </button>
                                              </div>
                                           </div>
                                        </div>
                                     </div>
                                  </div>
                                  <!-- end column contact blog -->
                                  <!-- column contact --> 
                                  <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 profile_details margin_bottom_30">
                                     <div class="contact_blog">
                                        <h4 class="brief">Digital Strategist</h4>
                                        <div class="contact_inner">
                                           <div class="left">
                                              <h3>John Smith</h3>
                                              <p><strong>About: </strong>Frontend Developer</p>
                                              <ul class="list-unstyled">
                                                 <li><i class="fa fa-envelope-o"></i> : test@gmail.com</li>
                                                 <li><i class="fa fa-phone"></i> : 987 654 3210</li>
                                              </ul>
                                           </div>
                                           <div class="right">
                                              <div class="profile_contacts">
                                                 <img class="img-responsive" src="{% static 'core/images/layout_img/msg2.png' %}" alt="#" />
                                              </div>
                                           </div>
                                           <div class="bottom_list">
                                              <div class="left_rating">
                                                 <p class="ratings">
                                                    <a href="#"><span class="fa fa-star"></span></a>
                                                    <a href="#"><span class="fa fa-star"></span></a>
                                                    <a href="#"><span class="fa fa-star"></span></a>
                                                    <a href="#"><span class="fa fa-star"></span></a>
                                                    <a href="#"><span class="fa fa-star-o"></span></a>
                                                 </p>
                                              </div>
                                              <div class="right_button">
                                                 <button type="button" class="btn btn-success btn-xs"> <i class="fa fa-user">
                                                 </i> <i class="fa fa-comments-o"></i> 
                                                 </button>
                                                 <button type="button" class="btn btn-primary btn-xs">
                                                 <i class="fa fa-user"> </i> View Profile
                                                 </button>
                                              </div>
                                           </div>
                                        </div>
                                     </div>
                                  </div>
                                  <!-- end column contact blog -->
                                  <!-- column contact --> 
                                  <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 profile_details margin_bottom_30">
                                     <div class="contact_blog">
                                        <h4 class="brief">Digital Strategist</h4>
                                        <div class="contact_inner">
                                           <div class="left">
                                              <h3>John Smith</h3>
                                              <p><strong>About: </strong>Frontend Developer</p>
                                              <ul class="list-unstyled">
                                                 <li><i class="fa fa-envelope-o"></i> : test@gmail.com</li>
                                                 <li><i class="fa fa-phone"></i> : 987 654 3210</li>
                                              </ul>
                                           </div>
                                           <div class="right">
                                              <div class="profile_contacts">
                                                 <img class="img-responsive" src="{% static 'core/images/layout_img/msg2.png' %}" alt="#" />
                                              </div>
                                           </div>
                                           <div class="bottom_list">
                                              <div class="left_rating">
                                                 <p class="ratings">
                                                    <a href="#"><span class="fa fa-star"></span></a>
                                                    <a href="#"><span class="fa fa-star"></span></a>
                                                    <a href="#"><span class="fa fa-star"></span></a>
                                                    <a href="#"><span class="fa fa-star"></span></a>
                                                    <a href="#"><span class="fa fa-star-o"></span></a>
                                                 </p>
                                              </div>
                                              <div class="right_button">
                                                 <button type="button" class="btn btn-success btn-xs"> <i class="fa fa-user">
                                                 </i> <i class="fa fa-comments-o"></i> 
                                                 </button>
                                                 <button type="button" class="btn btn-primary btn-xs">
                                                 <i class="fa fa-user"> </i> View Profile
                                                 </button>
                                              </div>
                                           </div>
                                        </div>
                                     </div>
                                  </div>
                                  <!-- end column contact blog -->
                                  <!-- column contact --> 
                                  <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 profile_details margin_bottom_30">
                                     <div class="contact_blog">
                                        <h4 class="brief">Digital Strategist</h4>
                                        <div class="contact_inner">
                                           <div class="left">
                                              <h3>John Smith</h3>
                                              <p><strong>About: </strong>Frontend Developer</p>
                                              <ul class="list-unstyled">
                                                 <li><i class="fa fa-envelope-o"></i> : test@gmail.com</li>
                                                 <li><i class="fa fa-phone"></i> : 987 654 3210</li>
                                              </ul>
                                           </div>
                                           <div class="right">
                                              <div class="profile_contacts">
                                                 <img class="img-responsive" src="{% static 'core/images/layout_img/msg2.png' %}" alt="#" />
                                              </div>
                                           </div>
                                           <div class="bottom_list">
                                              <div class="left_rating">
                                                 <p class="ratings">
                                                    <a href="#"><span class="fa fa-star"></span></a>
                                                    <a href="#"><span class="fa fa-star"></span></a>
                                                    <a href="#"><span class="fa fa-star"></span></a>
                                                    <a href="#"><span class="fa fa-star"></span></a>
                                                    <a href="#"><span class="fa fa-star-o"></span></a>
                                                 </p>
                                              </div>
                                              <div class="right_button">
                                                 <button type="button" class="btn btn-success btn-xs"> <i class="fa fa-user">
                                                 </i> <i class="fa fa-comments-o"></i> 
                                                 </button>
                                                 <button type="button" class="btn btn-primary btn-xs">
                                                 <i class="fa fa-user"> </i> View Profile
                                                 </button>
                                              </div>
                                           </div>
                                        </div>
                                     </div>
                                  </div>
                                  <!-- end column contact blog -->
                                  <!-- column contact --> 
                                  <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 profile_details margin_bottom_30">
                                     <div class="contact_blog">
                                        <h4 class="brief">Digital Strategist</h4>
                                        <div class="contact_inner">
                                           <div class="left">
                                              <h3>John Smith</h3>
                                              <p><strong>About: </strong>Frontend Developer</p>
                                              <ul class="list-unstyled">
                                                 <li><i class="fa fa-envelope-o"></i> : test@gmail.com</li>
                                                 <li><i class="fa fa-phone"></i> : 987 654 3210</li>
                                              </ul>
                                           </div>
                                           <div class="right">
                                              <div class="profile_contacts">
                                                 <img class="img-responsive" src="{% static 'core/images/layout_img/msg2.png' %}" alt="#" />
                                              </div>
                                           </div>
                                           <div class="bottom_list">
                                              <div class="left_rating">
                                                 <p class="ratings">
                                                    <a href="#"><span class="fa fa-star"></span></a>
                                                    <a href="#"><span class="fa fa-star"></span></a>
                                                    <a href="#"><span class="fa fa-star"></span></a>
                                                    <a href="#"><span class="fa fa-star"></span></a>
                                                    <a href="#"><span class="fa fa-star-o"></span></a>
                                                 </p>
                                              </div>
                                              <div class="right_button">
                                                 <button type="button" class="btn btn-success btn-xs"> <i class="fa fa-user">
                                                 </i> <i class="fa fa-comments-o"></i> 
                                                 </button>
                                                 <button type="button" class="btn btn-primary btn-xs">
                                                 <i class="fa fa-user"> </i> View Profile
                                                 </button>
                                              </div>
                                           </div>
                                        </div>
                                     </div>
                                  </div>
                                  <!-- end column contact blog -->
                                  <!-- column contact --> 
                                  <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 profile_details margin_bottom_30">
                                     <div class="contact_blog">
                                        <h4 class="brief">Digital Strategist</h4>
                                        <div class="contact_inner">
                                           <div class="left">
                                              <h3>John Smith</h3>
                                              <p><strong>About: </strong>Frontend Developer</p>
                                              <ul class="list-unstyled">
                                                 <li><i class="fa fa-envelope-o"></i> : test@gmail.com</li>
                                                 <li><i class="fa fa-phone"></i> : 987 654 3210</li>
                                              </ul>
                                           </div>
                                           <div class="right">
                                              <div class="profile_contacts">
                                                 <img class="img-responsive" src="{% static 'core/images/layout_img/msg2.png' %}" alt="#" />
                                              </div>
                                           </div>
                                           <div class="bottom_list">
                                              <div class="left_rating">
                                                 <p class="ratings">
                                                    <a href="#"><span class="fa fa-star"></span></a>
                                                    <a href="#"><span class="fa fa-star"></span></a>
                                                    <a href="#"><span class="fa fa-star"></span></a>
                                                    <a href="#"><span class="fa fa-star"></span></a>
                                                    <a href="#"><span class="fa fa-star-o"></span></a>
                                                 </p>
                                              </div>
                                              <div class="right_button">
                                                 <button type="button" class="btn btn-success btn-xs"> <i class="fa fa-user">
                                                 </i> <i class="fa fa-comments-o"></i> 
                                                 </button>
                                                 <button type="button" class="btn btn-primary btn-xs">
                                                 <i class="fa fa-user"> </i> View Profile
                                                 </button>
                                              </div>
                                           </div>
                                        </div>
                                     </div>
                                  </div>
                                  <!-- end column contact blog -->
                                  <!-- column contact --> 
                                  <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 profile_details margin_bottom_30">
                                     <div class="contact_blog">
                                        <h4 class="brief">Digital Strategist</h4>
                                        <div class="contact_inner">
                                           <div class="left">
                                              <h3>John Smith</h3>
                                              <p><strong>About: </strong>Frontend Developer</p>
                                              <ul class="list-unstyled">
                                                 <li><i class="fa fa-envelope-o"></i> : test@gmail.com</li>
                                                 <li><i class="fa fa-phone"></i> : 987 654 3210</li>
                                              </ul>
                                           </div>
                                           <div class="right">
                                              <div class="profile_contacts">
                                                 <img class="img-responsive" src="{% static 'core/images/layout_img/msg2.png' %}" alt="#" />
                                              </div>
                                           </div>
                                           <div class="bottom_list">
                                              <div class="left_rating">
                                                 <p class="ratings">
                                                    <a href="#"><span class="fa fa-star"></span></a>
                                                    <a href="#"><span class="fa fa-star"></span></a>
                                                    <a href="#"><span class="fa fa-star"></span></a>
                                                    <a href="#"><span class="fa fa-star"></span></a>
                                                    <a href="#"><span class="fa fa-star-o"></span></a>
                                                 </p>
                                              </div>
                                              <div class="right_button">
                                                 <button type="button" class="btn btn-success btn-xs"> <i class="fa fa-user">
                                                 </i> <i class="fa fa-comments-o"></i> 
                                                 </button>
                                                 <button type="button" class="btn btn-primary btn-xs">
                                                 <i class="fa fa-user"> </i> View Profile
                                                 </button>
                                              </div>
                                           </div>
                                        </div>
                                     </div>
                                  </div>
                                  <!-- end column contact blog -->
                               </div>
                            </div>
                         </div>
                      </div>
                  


{% endblock %}