{% extends 'core/main.html' %}
{% block planes %}
{% load static %}
 <!-- row -->
 <div class="row column1">
    <div class="col-md-12">
       <div class="white_shd full margin_bottom_30">
          <div class="full graph_head">
             <div class="heading1 margin_0">
                <h2>Planes y Servicios</h2>
             </div>
          </div>
          <div class="full price_table padding_infor_info">
             <div class="row">
                <!-- column price --> 
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                   <div class="table_price full">
                      <div class="inner_table_price">
                         <div class="price_table_head blue1_bg">
                            <h2>Basico</h2>
                         </div>
                         <div class="price_table_inner">
                            <div class="cont_table_price_blog">
                               <p class="blue1_color">$ <span class="price_no">4.000</span> Mes</p>
                               <p class="card-text">Con presencia donde están tus potenciales clientes. Haz que visualicen tu negocio cuando más cerca estén, ¡Incrementa tus ventas ya! ¿Qué esperas?</p>
                            </div>
                            <div class="cont_table_price">
                               <ul>
                                  <li><a href="#">Visualización en QR cercanos</a></li>
                                  <li><a href="#">Acceso a tu página</a></li>
                                  <li><a href="#"></a></li>
                                  <li><a href="#"></a></li>
                                  <li><a href="#"></a></li>
                                  <li><a href="#"></a></li>
                                  <li><a href="#"></a></li>
                                  <li><a href="#"></a></li>
                                  <li><a href="#"></a></li>
                                  <li><a href="#"></a></li>
                               </ul>
                            </div>
                         </div>
                         <div class="price_table_bottom">
                            <div class="center"><a class="main_bt" href="#">Suscríbete</a></div>
                         </div>
                      </div>
                   </div>
                </div>
                <!-- end column price -->
                <!-- column price --> 
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                   <div class="table_price full">
                      <div class="inner_table_price">
                         <div class="price_table_head green_bg">
                            <h2>Standard</h2>
                         </div>
                         <div class="price_table_inner">
                            <div class="cont_table_price_blog">
                               <p class="green_color">$ <span class="price_no">25</span> Monthly</p>
                            </div>
                            <div class="cont_table_price">
                               <ul>
                                  <li><a href="#">24/7 Tech Support</a></li>
                                  <li><a href="#">Visualización en QR cercanosn</a></li>
                                  <li><a href="#">Acceso a tu página</a></li>
                                  <li><a href="#">Página interactiva</a></li> <li><a href="#">24/7 Tech Support</a></li>
                                  <li><a href="#">Enlaces directos con deliverys</a></li>
                                  <li><a href="#">Acceso a tu página</a></li>
                                  <li><a href="#">Página interactiva</a></li>
                                  <li><a href="#"></a></li>
                                  <li><a href="#"></a></li>
                                  <li><a href="#"></a></li>
                               </ul>
                            </div>
                         </div>
                         <div class="price_table_bottom">
                            <div class="center"><a class="main_bt" href="#">Suscríbete</a></div>
                         </div>
                      </div>
                   </div>
                </div>
                <!-- end column price -->
                <!-- column price --> 
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                   <div class="table_price full">
                      <div class="inner_table_price">
                         <div class="price_table_head yellow_bg">
                            <h2>Premium</h2>
                         </div>
                         <div class="price_table_inner">
                            <div class="cont_table_price_blog">
                               <p class="yellow_color">$ <span class="price_no">10000</span> Mes</p>
                               <p class="card-text">Personaliza tu página con accesos directos y links asociados a aplicaciones de delivery o reparto además de redireccionamiento a páginas de pago online.</p>
                            </div>
                            <div class="cont_table_price">
                               <ul>
                                  <li><a href="#">24/7 Tech Support</a></li>
                                  <li><a href="#">Visualización en QR cercanos</a></li>
                                  <li><a href="#">Acceso a tu página</a></li>
                                  <li><a href="#">Página interactiva</a></li>
                                  <li><a href="#">Enlaces directos con deliverys</a></li>
                                  <li><a href="#">Vínculos a páginas de pago</a></li>
                                  <li><a href="#">Potenciadores de visualización</a></li>
                                  <li><a href="#"></a></li>
                                  <li><a href="#"></a></li>
                                  <li><a href="#"></a></li>
                               </ul>
                            </div>
                         </div>
                         <div class="price_table_bottom">
                            <div class="center"><a class="main_bt" href="#">Suscríbete</a></div>
                         </div>
                      </div>
                   </div>
                </div>
                <!-- end column price -->
                

{% endblock %}


              
         


                    